# The "lts" (long term support a.k.a. stable) branch is recommended for most people.
#    This branch won't update often and should remain completely stable.
# Use the "rc" (release candidate) branch if you want to help test the latest releases before they are graduated to the "lts" branch, or you want the very latest mostly stable updates.
#    This branch will update reasonably often as new fixes and features are rolled out for testing. It should remain fairly stable but it's not guaranteed.
# Only use the "master" branch if you want the very latest bleeding edge updates which may or may not be stable.
#    This branch will update very often.
# Only use the "dev" branch if you're involved in development.
#    This branch will update very often.
BRANCH="lts"
#BRANCH="rc"
#BRANCH="master"
#BRANCH="dev"

# The MQTT broker will be installed on localhost with the credentials specified below. Only change the host if you want to use a different MQTT server.
# The MQTT username and password can be anything you choose when using the localhost MQTT broker.
# If using an MQTT broker which is running on a different server then specify the host, username and password for that MQTT broker.
# Keep the default MQTT port unless you are using an MQTT broker on a different server which is only accessible via a different port.
MQTT_HOST="localhost"
MQTT_USERNAME="user"
MQTT_PASSWORD="pass"
MQTT_PORT="1883"

# The WiFi details are only required when using WiFi/ESP GrowSense devices, otherwise the settings can be left as defaults.
WIFI_NAME="na"
WIFI_PASSWORD="na"

# Setting the email details will enable email reporting of errors and system events. They values can be left as defaults if this isn't required.
SMTP_SERVER="na"
EMAIL_ADDRESS="na"
SMTP_USERNAME="na"
SMTP_PASSWORD="na"
SMTP_PORT="25"
